# remove dataset folders
**/images
**/labels
**/json
**/tracking

# videos
**/*.mp4

# fonts
**/*.ttf

# jsons
**/*.json

# runs results
**/runs

# pytorch modesl
**/*.pt

# -png
**/*.png

#-jpg
**/*.jpg

# macOS shit
**/*.DS_Store

# py cache
**/__pycache__

#-csv
**/*.csv
